<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h1>Your Request is done</h1>
		<p>Command sent:</p>
		<p>Age min:<%= data.agemin %> - Age max: <%=data.agemax%></p>
		<p>Position: <%= data.position %></p>
		<p>Platform: <%= data.platform %></p>
		<p>Message: <%= data.message %></p>
		<p>Description: <%= data.description %></p>
		<p>Call_to_action:: <%= data.calltoaction %></p>
		<p>--------------------------------------------------------</p>
		<p>FULL: <%= data %></p>
		</br>
		<h1>RESULT</h1>
		<p>Evaluate: <%= result %></p>


	</body>
</html>